<div class="container">
    <form action="/reg_numbers" method="POST">

        <div class="header">
            <h1>Registration App</h1>
        </div>
        <div class="example">
            <p class="eg">e.g. CA 12345 | CY 123-456 | CJ 123456</p>
        </div>


        <div class="denied">
            {{#if messages}}
            {{messages.error}}
            {{/if}}
        </div>

        <div class="granted">
            {{#if messages}}
            {{messages.success}}
            {{/if}}
        </div>

        <div class="getData">
            <input name="regData" class="textArea" placeholder="enter registration here">
            <button type="submit" name="addBtn">Add</button>
        </div>

    </form>
    <form action="/reg_numbers" method="GET">
        <div class="choices">
            <select name="filter">
                <option value='all'>All</option>
                <option value='2'>Cape Town</option>
                <option value='1'>Paarl</option>
                <option value='3'>Bellville</option>
            </select>
            <button type="submit">Filter</button>
        </div>


          <div class="regShow">

            {{#each regNumb}}
            <p class="regColor">{{this.reg_number}}</p>
            {{/each}}

        </div>

    </form>

    <form action="/clear" method="GET">

        <div class="clear">
            <button type="submit" name="clearBtn">Clear items</button>
        </div>
    </form>

</div>