@media(min-width:480px) {
    .container {
        height: 100vh;
        width: 80vw;
        background-color: whitesmoke;
        margin: 6em;
        padding: 3em;
        text-align: center;
        color: grey;
        border-radius: 0.5em;
        border: 1px solid #ddd;
        font-family: 'Architects Daughter', cursive;
    }
}

button {
    padding: 1em;
    color: white;
    font-size: medium;
    border-radius: 0.5em;
    background-color: red;
    font-family: 'Architects Daughter', cursive;
}
.regShow {
    padding: 1em;
    margin: 0.5em;
    color: red;
    display: inline-block;
    font-size: medium;
    font-family: 'Architects Daughter', cursive;
}

.granted {
    text-align:  center;
    font-family: 'Architects Daughter', cursive;
    color : green;
}
.denied{
    color : red ;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

.header{
    text-align: center;
}
.a{
    color : white

}
li{
    list-style: none;
    border: solid yellow;
    display: inline-block;
    padding: 0.5em;
    border-radius: 0.4em;

}
.example{
     color : blue
}
 
input{
   text-align:  center;
    border-radius: 0.5em;
    padding : 1em;
    font-size: large;
    font-family: 'Architects Daughter', cursive;
    margin: 1.5em;
}
select{
    text-align:  center;
    margin: 1.5em;
    border-radius: 1.5em;
    padding : 1em;
    font-size: large;

}
